{% extends "base_page.html" %}
{% load search_extras %}
{% load staticfiles %}
{% load useraccounts_extras %}

{% block stylin %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/accounts.css' %}"/>
{% endblock%}

{% block scriptin %}
<script>
	$(function(){
		$("#modifiers").remove();
	});
</script>
{% endblock %}

{% block searchbar %}
{% endblock %}

{%block logohold %}
{% logo accounts %}
{%endblock %}

{% block content %}
<section class="blurb">
<h1>{% firstof profile.nname user.get_full_name "Anonymous" %}</h1>
<a href="{% url logout %}">logout</a>
<ul>

{% if user|has_perm:"polls.add_poll" %}
	You can add a new poll!
	{% endif %}
</ul>
</section>
{% endblock %}

{% block extraContent %}

{% endblock %}
