<div id="calendar">
	<div class="ui-widget wc-container">
		<div class="ui-widget-content wc-header">
			<table>
				<tbody>
				<tr>
					<td class="wc-time-column-header">
					</td>
					<td class="wc-day-column-header wc-day-1">Monday</td>
					<td class="wc-day-column-header wc-day-2">Tuesday</td>
					<td class="wc-day-column-header wc-day-3">Wednesday</td>
					<td class="wc-day-column-header wc-day-4">Thursday</td>
					<td class="wc-day-column-header wc-day-5">Friday</td>
					<td class="wc-scrollbar-shim" style="width: 0px; ">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="wc-scrollable-grid" style="height: 640px; ">
			<table class="wc-time-slots">
				<tbody>
					<tr class="wc-grid-row-timeslot">
					<td class="wc-grid-timeslot-header">
					</td>
					<td colspan="5">
						<div class="wc-no-height-wrapper wc-time-slot-wrapper">
							<div class="wc-time-slots" style="display:none;">
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
								<div class="wc-time-slot" style="height: 19px; ">
								</div>
								<div class="wc-time-slot wc-hour-end" style="height: 19px; ">
								</div>
							</div>
						</div>
					</td>
					</tr>
					<tr class="wc-grid-row-events">
						<td class="wc-grid-timeslot-header">
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">8<span class="wc-am-pm">AM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">9<span class="wc-am-pm">AM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">10<span class="wc-am-pm">AM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">11<span class="wc-am-pm">AM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">12<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">1<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">2<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">3<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">4<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">5<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">6<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">7<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">8<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">9<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">10<span class="wc-am-pm">PM</span>
						</div>
						</div>
						<div class="wc-hour-header ui-state-active wc-business-hours">
						<div class="wc-time-header-cell" style="height: 29px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; ">11<span class="wc-am-pm">PM</span>
						</div>
						</div>
						</td>
						<td class="ui-state-default wc-day-column wc-day-column-first wc-day-column-last day-1">
							<div class="wc-full-height-column wc-day-column-inner day-1" style="height: 640px; ">
							</div>
						</td>
						<td class="ui-state-default wc-day-column wc-day-column-first wc-day-column-last day-2">
							<div class="wc-full-height-column wc-day-column-inner day-2" style="height: 640px; ">
							</div>
						</td>
						<td class="ui-state-default wc-day-column wc-day-column-first wc-day-column-last day-3">
							<div class="wc-full-height-column wc-day-column-inner day-3" style="height: 640px; ">
							</div>
						</td>
						<td class="ui-state-default wc-day-column wc-day-column-first wc-day-column-last day-4">
							<div class="wc-full-height-column wc-day-column-inner day-4" style="height: 640px; ">
							</div>
						</td>
						<td class="ui-state-default wc-day-column wc-day-column-first wc-day-column-last day-5">
							<div class="wc-full-height-column wc-day-column-inner day-5" style="height: 640px; ">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>