#logo * {
	vertical-align: middle!important;
}

section.summary {
	width: 20em!important;
	position: relative;
	float: right;
}

#main_content {
	width: 40em!important;
	margin: 0;
}

#serverlisting td {
	text-align: center;
	border-left: 1px solid rgb(127, 157, 185);
}
#serverlisting td:first-child{
	border-left: none;
}

hr {
	width: 60em;
	margin-left: -5em;
	margin-top: 1em;
}

.expander {
	margin-left: -.5em;
	cursor: pointer;
	color:rgb(127, 157, 185);
}


h2 {
	margin-bottom: .5em;
	margin-top: .5em;
}

section.summary section {
	max-height: 20em;
	overflow-y: auto;
	margin-bottom: 2em;
}

table.choices td:first-child{
	border-right: 1px solid black;
}

table.requestWrap {
	/*width: 50em;*/
}

.requestWrap.completed {
	background-color: rgba(0,200,95,.3);
}

img.plus {
	float: right;
}