@import url("/media/styles/requests.css");

#wrapper, #container {
	width: 95%!important;
	max-width: 1500px;
	min-width: 1000px;
}

#content section {
	border-radius: 5px;
	border: 1px solid rgba(0,0,5,.2);
	margin-bottom: 15px;
	padding: 10px;
}

#logo img {
	/*vertical-align: middle;*/
}

#logo {
	text-align: left;
	padding-left: 1em;
}

#ident {	
	float: right;
	margin-right: .25em;
	margin-top: -15px;
	font-weight: bold;
	color:white;
	font-size: 5em;
	font-family: "Goudy Old Style", Garamond, serif;
	
}

.update_qty{
	cursor: pointer;
}

#identID {
	font-size: 18pt;
	margin-top: -.5em;
	text-align: center;
}

#primary_info {
	width: 58%;
}

#poll {
	
}
#poll_choices {
	margin-bottom: 5px;
}
.poll_choice{
	list-style-type:disc;
	margin-left: 2em;
	cursor: pointer;
	margin-top: 5px;
	padding: 3px;
}

.poll_choice:hover {
	background-color: rgba(0,0,0,.05);
}

#serverlisting td {
	text-align: center;
}

#sub_content{
	display: inline;
	width: 39%;
	float: right;
}

#requests h1{
	margin-bottom: 5px;
}
.tabs { 
	float:left;	
	margin: 5px;
	margin-top: 15px
}

.tabs.horizontal {
	float:none;
	list-style-type: none;
	margin-top: 5px;
	margin-left: 25px;
}
.tabs li{
	margin-top: 15px;
	text-align: center;
	margin-right: -6px;
	border-radius: 5px 0 0 5px;
	background-color: rgba(220, 228, 230, 1);
	padding: 5px;
}

.tabs.horizontal li {
	margin-top: 5px;
	margin-bottom: -2px;
	float:left;	
	margin-right: 5px;
	border-radius: 5px 5px 0 0;
}

.tabs a:hover{ 
	text-decoration: none;
}

.tabs a.current li{
	background-color: rgba(240, 248, 255, 1);
	cursor: default;
}

.tabs.horizontal a.current li{
	background-color:rgba(220, 228, 230, 1);
	border-bottom: 2px solid rgba(0,0,0,1);
}

.panes {
	background-color: rgba(240, 248, 255, 1);
	border-radius: 5px;
	overflow-y:auto;
	height: 700px;
	padding: 5px;
}

.panes > div {
	float: right;
	width: 100%;
}

.host_panes {
	margin: 0 auto;
	width: 95%;
	border-radius: 5px;
	background-color:rgba(220, 228, 230, 1);
	padding: 5px;
	overflow-y: auto;
}

.host_panes div {
	float: none;
}

table.requestWrap {
	width: 100%;
}
table.requestWrap:first-child {
	margin-top: 0px;
}

.requestWrap.completed {
	background-color: rgba(0,200,95,.3);
}

img.plus {
	float: right;
}